<h1>Paper.js Tutorial</h1>

<ol>
<li><%= link_to "Part 1: points, size, and rectangles", tutorial_part_one_path %></li>
<li><%= link_to "Part 2: other shapes", tutorial_shapes_path %></li>
<li><%= link_to "Part 3: styling a path", tutorial_styles_path %></li>
<li><%= link_to "Part 4: animating with the onFrame event", tutorial_part_four_path %></li>
<li><%= link_to "Part 5: using objects to organize code", tutorial_part_five_path %></li>
<li><%= link_to "Part 6: setting up the canvas with paperscript", tutorial_part_six_path %></li>
<li><%= link_to "Part 7: demo", tutorial_part_seven_path%></li>


</ol>
