<!DOCTYPE html>
<html>
<head>
  <title>PaperjsTutorial</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "paperjs/lib/paper" %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to "Home", root_path %>
<br />
<%= yield %>

</body>
</html>
